* { margin: 0px; padding: 0px; }




/* iPad, Screen One */
@media(min-width: 668px) and (max-width:1024px) {

}
body {
	background: #E3B1D2;
	background: url(img/poemboard1.png);
	font-family: 'Oswald';
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

#screenone{
	opacity: 1;
	color: white;
	transform: rotate(-10deg);

}

#screentwo, #screenthree {
	opacity: 0;
}
/*  Screen Two */
@media (min-width: 500px) and (max-width: 800px) { 
	body {
		background: url(img/poemboard2.png);
		background-size: cover;
		background-repeat: none;
		background-attachment: fixed;
    	background-position: center center;
		color: white;
		font-family: 'Oswald';
		font-size: 20px;
		text-align: center;

	}

	#screentwo{
		opacity: 1;
		width: 5px;
  		height: 5px;
  		transform: scale(2) skew(5deg);

	}

	#screenone, #screenthree {
		opacity: 0;
	}

}

/* screen three*/
@media (min-width: 375px) and (max-width: 667px) { 
	
	body {
		background: white;
		background: url(img/poemboard3.png);
		background-size: cover;
		background-attachment: fixed;
   		background-position: center center;
		font-family: 'Oswald';
		font-size: 10px;
		font-style: bold;
		text-align:center;
		color: white;
	}

/* screen four*/
@media (min-width: 200px) and (max-width: 400px) { 
	
	body {
		background: white;
		background: url(img/poemboard4.png);
		background-repeat: none;
		background-size: cover;
		background-attachment: fixed;
		font-family: 'Oswald';
		font-size: 10px;
		font-style: bold;
		text-align: center;
		color: white;
	}


	#screenfour{
		opacity: 1;
		transform: rotate(340deg);
	}

	
}
