* {
	margin: 0px;
	padding: 0px;
}


#title{
	margin-top: 200px;
	position: fixed;
	top: 50px;
	left: 50px;
}

#male-emoji{
	width: 50%;
	height: 100vh;

	background-color: #008CC1; 
	float: left;

	overflow: scroll;

}

#female-emoji{
	width: 50%;
	height: 100vh;

	background-color: #F05B82;
	float: right;

	overflow: scroll;

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50vh;
}

p {
	font-family: "Helvetica Neue";
	font-size: 40px;
	color: white;
	text-align: center;

}

h1 {
	font-family: "Helvetica Neue";
	font-size:150px;
	color: #FFF200;
	position:fixed;
}

#linktitle {
	font-family: "Helvetica Neue";
	font-size:20px;
	color: white;
	position:fixed;

}







