main2.css
* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Space Mono', monospace;
	color: red;
	font-size: 20px;
	font-weight: normal;
}

a { color: blue; }

a:hover { background: rgba(255,50,0,.25); }


#container {
	padding: 20px;
}

#exercises, #projects {
	margin: 40px 0px;
}

h1, h2, h3 {
	font-size: 20px;
	font-weight: normal;
}

ul {
	list-style-type: none;
}