*{}  
body
 {
	background-color: #F5908A;

}


body {
font-family: 'Quicksand', monospace;
	color: blue;
	font-size: 20px;
	font-weight: normal;

}

#femaletaxonomy { 
	position:fixed;
	top:10px;
	bottom:20px;
	right:50px;
	float: right; 
}

#femaletaxonomy2 { 
	position:relative;
	top:10px
	bottom:20px;
	left:50px; 
	float: left;
}

#femaletaxonomy3 { 
	position: fixed;
	bottom:20px;
	right: 20px;
	float: right;
}


#femaletaxonomy4 {
	position: relative;
	bottom:20px;
	left: 20px;
	float: left;

}





ul {
	list-style-type: none;
}
