* { margin: 0px; padding: 0px; }

body { text-align: center;
	font-size: 20px;
	font-family: Tahoma;
	background-color:#3b5998;
	color:white;
}

/* 
create a div that uses your profile 
image as a background image. sizing 
this div will scale the background 
images size because of the background 
size parameter 
*/

#container {
	background: url('../Img/facebookprofile.jpg') top left no-repeat;
	width: 1000px;
	height: 1000px;
	margin: auto;

	/* scales background image to fit div */
	background-size: contain;
	
	/* set to relative so you can position elements inside absolute */
	position: relative;
}



#facebookmain {
	margin-top: 70px;
	margin-left: 150px;
}


h1#title {
	margin-top:100px;
	margin-left:500px;
	position: center;
	top: 20px;
	}
/* 
position element you want to appear
on hover
*/
#hover-1 {
    position: absolute;
    left: 435px;
    top: 177px;

    /* make this element the size of what you want to hover on */
    width: 136px;
    height: 49px;

    /* important: allows image to overflow when hovered*/
    overflow: visible;

	/* temp to show you where the div is */
	border: 1px solid green;
}

/*
make the image inside it invsible
*/

#hover-1 img{
	/* set the image to the width you want it at */
	width: 300px;
	/* scales image proportionally */
	height: auto;
	/* prevents hovering the hidden image from triggering the hover state */
	pointer-events: none;
	/* hide the image */
	opacity: 0;

}

/*
show the image when you hover on the element
*/

#hover-1:hover img{
	opacity: 1;
}

