.hide {
	 opacity: 0;
}



.gradient {
  background-color: red;
}


.rotation {
 transform: rotate(180deg);
}

/*.gradient {
  background-color: linear-gradient(135deg, #ff0000 1%,#fff200 20%,#00ffdd 40%,#090df9 60%,#ff0af6 80%,#ff0004 100%);
  color: white;
}